<div class="fl">
    <i class="iconfont mr10">&#xe66b;</i>
    {{=i18n('@{lang#site.name}')}}
</div>
<div class="fr">
    <a href="https://github.com/xinglie/frontend/issues/new?assignees=&labels=&template=----.md&title=" class="top-link fs14 mr10" target="_blank" rel="noopener noreferrer">
        <i class="iconfont fs14 mr5">&#xe6cc;</i>
        反馈
    </a>
    <a href="https://github.com/xinglie/frontend/issues/new?assignees=&labels=&template=------.md&title=%E6%B7%BB%E5%8A%A0%E6%96%B0%E7%9A%84%E7%BD%91%E7%AB%99" class="top-link fs14" target="_blank" rel="noopener noreferrer">
        <i class="iconfont fs14">&#xe74b;</i>
        共建
    </a>
</div>