
<div class="root{{if active}} toggle{{/if}}">
    <mx-vframe src="./channels"
        class="channels-root{{if active&&!cshow}} toggle{{/if}}"
        mx-change="@{update.channel}()"/>
    <div class="player clearfix">
        {{if active}}
        <div class="channel-info">
            {{set animPaused=buffer||!song.picture||!play}}
            <div class="channel-info-img{{if animPaused}} anim-paused{{/if}}{{if reset}} anim-reset{{/if}}" mx-click="{{!buffer&&song.picture}}?@{update.status}()" style="{{=song.picture}}??background-image:url({{=song.picture}})">
                <div class="channel-info-img-hole"></div>
            </div>
            <div class="channel-title" mx-click="@{toggle.channels}()">
                分类：{{=active.name}}
            </div>
            <div class="scroll-title" title="{{=song.title}}&lt;{{=song.artist}}&gt;">
                <div class="marquee-left{{if animPaused}} anim-paused{{/if}}{{if reset}} anim-reset{{/if}}">
                    <div class="scroll-content">
                        {{=song.title}}&lt;{{=song.artist}}&gt;&emsp;&emsp;&emsp;&emsp;
                    </div>
                    <div class="scroll-content">
                        {{=song.title}}&lt;{{=song.artist}}&gt;&emsp;&emsp;&emsp;&emsp;
                    </div>
                </div>
            </div>
        </div>
        <div class="player-ctrls">
            <div class="clearfix player-btns">
                <i class="iconfont player-btn r180{{if !undo}} player-btn-disabled{{/if}}" mx-click="{{@undo}}?@{pre.song}()" title="{{=ptip}}">&#xe600;</i>
                {{if buffer}}
                <i class="iconfont player-btn player-buffer">&#xe613;</i>
                {{else}}
                <i class="iconfont player-btn" mx-click="@{update.status}()"　title="点击{{if play}}暂停{{else}}播放{{/if}}">
                    {{if play}}
                    &#xe62d;
                    {{else}}
                    &#xe6aa;
                    {{/if}}
                </i>
                {{/if}}
                <i class="iconfont player-btn" mx-click="@{next.song}()" title="{{=ntip}}">&#xe600;</i>
                <i class="iconfont player-btn player-mode" mx-click="@{update.mode}()" title="正在{{if mode=='rdm'}}随机播放{{else}}单曲循环{{/if}}">
                    {{if mode=='rdm'}}
                    &#xe6cd;
                    {{else}}
                    &#xe61e;
                    {{/if}}
                </i>
                <span class="player-tip">
                    {{if error}}
                    {{=error}}
                    {{else if !play&&!buffer}}
                    点击播放按钮继续
                    {{/if}}
                </span>
                <mx-vframe src="./volume" class="clearfix player-v"/>
            </div>
            <mx-vframe src="./time" class="clearfix"/>
        </div>
        <mx-vframe src="./lyric" class="player-lyric"/>
        {{/if}}
    </div>
</div>